/* /files/checkout-custom.css */

a.add-service.btn.btn-mini {
    background: none;
    color: #ffffff;
    font-size: 12px;
    padding: 3px;
    background: #3d3d42;
}

.card-ready-for-typing .card-scanner-label-all-fields .box-installments.box-default p.select.required:before {content: "CLIQUE NAS PARCELAS ABAIXO PARA VISUALIZAR SEU DESCONTO.";display: block;width: 230px;padding: 10px 0 5px;color: #4e84c4;}

@media (min-width: 1200px)
.input-xlarge {
    width: 274px;
    border: 1px solid #4e84c4;
}

.ebit {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23%;
}

@media (max-width: 760px) {
  #seloEbit {
    margin: 0;
  }
  .payment {
    width: 280px!important;
    margin: 0 auto!important;
    display: block!important;
    float: none!important;
  }
  
  .credits {
    width: 280px!important;
    margin: 30px auto 0!important;
    float: none!important;
  }
}

a#bannerEbit { display: none !important; }