body.belair-cw-2017 {
 /*
Breakpoints
========================================================================== */
  /*
     Grid
     ========================================================================== */
  /* ==========================================================================
     Mixins
     ========================================================================== */
  /* Rotate */
  /* Rotate */
  /* Border-Radius */
  /* Border-Radius */
  /* Transitions */
  /* Transitions */
  /* ==========================================================================
     Responsive: Utility classes
     ========================================================================== */
}
body.belair-cw-2017 .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
body.belair-cw-2017 .visible-xs {
  display: none !important;
}
body.belair-cw-2017 .visible-sm {
  display: none !important;
}
body.belair-cw-2017 .visible-md {
  display: none !important;
}
body.belair-cw-2017 .visible-lg {
  display: none !important;
}
body.belair-cw-2017 .visible-xs-block,
body.belair-cw-2017 .visible-xs-inline,
body.belair-cw-2017 .visible-xs-inline-block,
body.belair-cw-2017 .visible-sm-block,
body.belair-cw-2017 .visible-sm-inline,
body.belair-cw-2017 .visible-sm-inline-block,
body.belair-cw-2017 .visible-md-block,
body.belair-cw-2017 .visible-md-inline,
body.belair-cw-2017 .visible-md-inline-block,
body.belair-cw-2017 .visible-lg-block,
body.belair-cw-2017 .visible-lg-inline,
body.belair-cw-2017 .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  body.belair-cw-2017 .visible-xs {
    display: block !important;
  }
  body.belair-cw-2017 table.visible-xs {
    display: table;
  }
  body.belair-cw-2017 tr.visible-xs {
    display: table-row !important;
  }
  body.belair-cw-2017 th.visible-xs,
  body.belair-cw-2017 td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  body.belair-cw-2017 .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  body.belair-cw-2017 .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  body.belair-cw-2017 .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.belair-cw-2017 .visible-sm {
    display: block !important;
  }
  body.belair-cw-2017 table.visible-sm {
    display: table;
  }
  body.belair-cw-2017 tr.visible-sm {
    display: table-row !important;
  }
  body.belair-cw-2017 th.visible-sm,
  body.belair-cw-2017 td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.belair-cw-2017 .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.belair-cw-2017 .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.belair-cw-2017 .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  body.belair-cw-2017 .visible-md {
    display: block !important;
  }
  body.belair-cw-2017 table.visible-md {
    display: table;
  }
  body.belair-cw-2017 tr.visible-md {
    display: table-row !important;
  }
  body.belair-cw-2017 th.visible-md,
  body.belair-cw-2017 td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  body.belair-cw-2017 .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  body.belair-cw-2017 .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  body.belair-cw-2017 .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .visible-lg {
    display: block !important;
  }
  body.belair-cw-2017 table.visible-lg {
    display: table;
  }
  body.belair-cw-2017 tr.visible-lg {
    display: table-row !important;
  }
  body.belair-cw-2017 th.visible-lg,
  body.belair-cw-2017 td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  body.belair-cw-2017 .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.belair-cw-2017 .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  body.belair-cw-2017 .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .hidden-lg {
    display: none !important;
  }
}
body.belair-cw-2017 .col-xs-1, body.belair-cw-2017 .col-sm-1, body.belair-cw-2017 .col-md-1, body.belair-cw-2017 .col-lg-1, body.belair-cw-2017 .col-xs-2, body.belair-cw-2017 .col-sm-2, body.belair-cw-2017 .col-md-2, body.belair-cw-2017 .col-lg-2, body.belair-cw-2017 .col-xs-3, body.belair-cw-2017 .col-sm-3, body.belair-cw-2017 .col-md-3, body.belair-cw-2017 .col-lg-3, body.belair-cw-2017 .col-xs-4, body.belair-cw-2017 .col-sm-4, body.belair-cw-2017 .col-md-4, body.belair-cw-2017 .col-lg-4, body.belair-cw-2017 .col-xs-5, body.belair-cw-2017 .col-sm-5, body.belair-cw-2017 .col-md-5, body.belair-cw-2017 .col-lg-5, body.belair-cw-2017 .col-xs-6, body.belair-cw-2017 .col-sm-6, body.belair-cw-2017 .col-md-6, body.belair-cw-2017 .col-lg-6, body.belair-cw-2017 .col-xs-7, body.belair-cw-2017 .col-sm-7, body.belair-cw-2017 .col-md-7, body.belair-cw-2017 .col-lg-7, body.belair-cw-2017 .col-xs-8, body.belair-cw-2017 .col-sm-8, body.belair-cw-2017 .col-md-8, body.belair-cw-2017 .col-lg-8, body.belair-cw-2017 .col-xs-9, body.belair-cw-2017 .col-sm-9, body.belair-cw-2017 .col-md-9, body.belair-cw-2017 .col-lg-9, body.belair-cw-2017 .col-xs-10, body.belair-cw-2017 .col-sm-10, body.belair-cw-2017 .col-md-10, body.belair-cw-2017 .col-lg-10, body.belair-cw-2017 .col-xs-11, body.belair-cw-2017 .col-sm-11, body.belair-cw-2017 .col-md-11, body.belair-cw-2017 .col-lg-11, body.belair-cw-2017 .col-xs-12, body.belair-cw-2017 .col-sm-12, body.belair-cw-2017 .col-md-12, body.belair-cw-2017 .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 7px;
  padding-right: 7px;
}
body.belair-cw-2017 .col-xs-1, body.belair-cw-2017 .col-xs-2, body.belair-cw-2017 .col-xs-3, body.belair-cw-2017 .col-xs-4, body.belair-cw-2017 .col-xs-5, body.belair-cw-2017 .col-xs-6, body.belair-cw-2017 .col-xs-7, body.belair-cw-2017 .col-xs-8, body.belair-cw-2017 .col-xs-9, body.belair-cw-2017 .col-xs-10, body.belair-cw-2017 .col-xs-11, body.belair-cw-2017 .col-xs-12 {
  float: left;
}
body.belair-cw-2017 .col-xs-1 {
  width: 8.33333%;
}
body.belair-cw-2017 .col-xs-2 {
  width: 16.66667%;
}
body.belair-cw-2017 .col-xs-3 {
  width: 25%;
}
body.belair-cw-2017 .col-xs-4 {
  width: 33.33333%;
}
body.belair-cw-2017 .col-xs-5 {
  width: 41.66667%;
}
body.belair-cw-2017 .col-xs-6 {
  width: 50%;
}
body.belair-cw-2017 .col-xs-7 {
  width: 58.33333%;
}
body.belair-cw-2017 .col-xs-8 {
  width: 66.66667%;
}
body.belair-cw-2017 .col-xs-9 {
  width: 75%;
}
body.belair-cw-2017 .col-xs-10 {
  width: 83.33333%;
}
body.belair-cw-2017 .col-xs-11 {
  width: 91.66667%;
}
body.belair-cw-2017 .col-xs-12 {
  width: 100%;
}
body.belair-cw-2017 .col-xs-pull-0 {
  right: auto;
}
body.belair-cw-2017 .col-xs-pull-1 {
  right: 8.33333%;
}
body.belair-cw-2017 .col-xs-pull-2 {
  right: 16.66667%;
}
body.belair-cw-2017 .col-xs-pull-3 {
  right: 25%;
}
body.belair-cw-2017 .col-xs-pull-4 {
  right: 33.33333%;
}
body.belair-cw-2017 .col-xs-pull-5 {
  right: 41.66667%;
}
body.belair-cw-2017 .col-xs-pull-6 {
  right: 50%;
}
body.belair-cw-2017 .col-xs-pull-7 {
  right: 58.33333%;
}
body.belair-cw-2017 .col-xs-pull-8 {
  right: 66.66667%;
}
body.belair-cw-2017 .col-xs-pull-9 {
  right: 75%;
}
body.belair-cw-2017 .col-xs-pull-10 {
  right: 83.33333%;
}
body.belair-cw-2017 .col-xs-pull-11 {
  right: 91.66667%;
}
body.belair-cw-2017 .col-xs-pull-12 {
  right: 100%;
}
body.belair-cw-2017 .col-xs-push-0 {
  left: auto;
}
body.belair-cw-2017 .col-xs-push-1 {
  left: 8.33333%;
}
body.belair-cw-2017 .col-xs-push-2 {
  left: 16.66667%;
}
body.belair-cw-2017 .col-xs-push-3 {
  left: 25%;
}
body.belair-cw-2017 .col-xs-push-4 {
  left: 33.33333%;
}
body.belair-cw-2017 .col-xs-push-5 {
  left: 41.66667%;
}
body.belair-cw-2017 .col-xs-push-6 {
  left: 50%;
}
body.belair-cw-2017 .col-xs-push-7 {
  left: 58.33333%;
}
body.belair-cw-2017 .col-xs-push-8 {
  left: 66.66667%;
}
body.belair-cw-2017 .col-xs-push-9 {
  left: 75%;
}
body.belair-cw-2017 .col-xs-push-10 {
  left: 83.33333%;
}
body.belair-cw-2017 .col-xs-push-11 {
  left: 91.66667%;
}
body.belair-cw-2017 .col-xs-push-12 {
  left: 100%;
}
body.belair-cw-2017 .col-xs-offset-0 {
  margin-left: 0%;
}
body.belair-cw-2017 .col-xs-offset-1 {
  margin-left: 8.33333%;
}
body.belair-cw-2017 .col-xs-offset-2 {
  margin-left: 16.66667%;
}
body.belair-cw-2017 .col-xs-offset-3 {
  margin-left: 25%;
}
body.belair-cw-2017 .col-xs-offset-4 {
  margin-left: 33.33333%;
}
body.belair-cw-2017 .col-xs-offset-5 {
  margin-left: 41.66667%;
}
body.belair-cw-2017 .col-xs-offset-6 {
  margin-left: 50%;
}
body.belair-cw-2017 .col-xs-offset-7 {
  margin-left: 58.33333%;
}
body.belair-cw-2017 .col-xs-offset-8 {
  margin-left: 66.66667%;
}
body.belair-cw-2017 .col-xs-offset-9 {
  margin-left: 75%;
}
body.belair-cw-2017 .col-xs-offset-10 {
  margin-left: 83.33333%;
}
body.belair-cw-2017 .col-xs-offset-11 {
  margin-left: 91.66667%;
}
body.belair-cw-2017 .col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  body.belair-cw-2017 .col-sm-1, body.belair-cw-2017 .col-sm-2, body.belair-cw-2017 .col-sm-3, body.belair-cw-2017 .col-sm-4, body.belair-cw-2017 .col-sm-5, body.belair-cw-2017 .col-sm-6, body.belair-cw-2017 .col-sm-7, body.belair-cw-2017 .col-sm-8, body.belair-cw-2017 .col-sm-9, body.belair-cw-2017 .col-sm-10, body.belair-cw-2017 .col-sm-11, body.belair-cw-2017 .col-sm-12 {
    float: left;
  }
  body.belair-cw-2017 .col-sm-1 {
    width: 8.33333%;
  }
  body.belair-cw-2017 .col-sm-2 {
    width: 16.66667%;
  }
  body.belair-cw-2017 .col-sm-3 {
    width: 25%;
  }
  body.belair-cw-2017 .col-sm-4 {
    width: 33.33333%;
  }
  body.belair-cw-2017 .col-sm-5 {
    width: 41.66667%;
  }
  body.belair-cw-2017 .col-sm-6 {
    width: 50%;
  }
  body.belair-cw-2017 .col-sm-7 {
    width: 58.33333%;
  }
  body.belair-cw-2017 .col-sm-8 {
    width: 66.66667%;
  }
  body.belair-cw-2017 .col-sm-9 {
    width: 75%;
  }
  body.belair-cw-2017 .col-sm-10 {
    width: 83.33333%;
  }
  body.belair-cw-2017 .col-sm-11 {
    width: 91.66667%;
  }
  body.belair-cw-2017 .col-sm-12 {
    width: 100%;
  }
  body.belair-cw-2017 .col-sm-pull-0 {
    right: auto;
  }
  body.belair-cw-2017 .col-sm-pull-1 {
    right: 8.33333%;
  }
  body.belair-cw-2017 .col-sm-pull-2 {
    right: 16.66667%;
  }
  body.belair-cw-2017 .col-sm-pull-3 {
    right: 25%;
  }
  body.belair-cw-2017 .col-sm-pull-4 {
    right: 33.33333%;
  }
  body.belair-cw-2017 .col-sm-pull-5 {
    right: 41.66667%;
  }
  body.belair-cw-2017 .col-sm-pull-6 {
    right: 50%;
  }
  body.belair-cw-2017 .col-sm-pull-7 {
    right: 58.33333%;
  }
  body.belair-cw-2017 .col-sm-pull-8 {
    right: 66.66667%;
  }
  body.belair-cw-2017 .col-sm-pull-9 {
    right: 75%;
  }
  body.belair-cw-2017 .col-sm-pull-10 {
    right: 83.33333%;
  }
  body.belair-cw-2017 .col-sm-pull-11 {
    right: 91.66667%;
  }
  body.belair-cw-2017 .col-sm-pull-12 {
    right: 100%;
  }
  body.belair-cw-2017 .col-sm-push-0 {
    left: auto;
  }
  body.belair-cw-2017 .col-sm-push-1 {
    left: 8.33333%;
  }
  body.belair-cw-2017 .col-sm-push-2 {
    left: 16.66667%;
  }
  body.belair-cw-2017 .col-sm-push-3 {
    left: 25%;
  }
  body.belair-cw-2017 .col-sm-push-4 {
    left: 33.33333%;
  }
  body.belair-cw-2017 .col-sm-push-5 {
    left: 41.66667%;
  }
  body.belair-cw-2017 .col-sm-push-6 {
    left: 50%;
  }
  body.belair-cw-2017 .col-sm-push-7 {
    left: 58.33333%;
  }
  body.belair-cw-2017 .col-sm-push-8 {
    left: 66.66667%;
  }
  body.belair-cw-2017 .col-sm-push-9 {
    left: 75%;
  }
  body.belair-cw-2017 .col-sm-push-10 {
    left: 83.33333%;
  }
  body.belair-cw-2017 .col-sm-push-11 {
    left: 91.66667%;
  }
  body.belair-cw-2017 .col-sm-push-12 {
    left: 100%;
  }
  body.belair-cw-2017 .col-sm-offset-0 {
    margin-left: 0%;
  }
  body.belair-cw-2017 .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  body.belair-cw-2017 .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  body.belair-cw-2017 .col-sm-offset-3 {
    margin-left: 25%;
  }
  body.belair-cw-2017 .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  body.belair-cw-2017 .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  body.belair-cw-2017 .col-sm-offset-6 {
    margin-left: 50%;
  }
  body.belair-cw-2017 .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  body.belair-cw-2017 .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  body.belair-cw-2017 .col-sm-offset-9 {
    margin-left: 75%;
  }
  body.belair-cw-2017 .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  body.belair-cw-2017 .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  body.belair-cw-2017 .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  body.belair-cw-2017 .col-md-1, body.belair-cw-2017 .col-md-2, body.belair-cw-2017 .col-md-3, body.belair-cw-2017 .col-md-4, body.belair-cw-2017 .col-md-5, body.belair-cw-2017 .col-md-6, body.belair-cw-2017 .col-md-7, body.belair-cw-2017 .col-md-8, body.belair-cw-2017 .col-md-9, body.belair-cw-2017 .col-md-10, body.belair-cw-2017 .col-md-11, body.belair-cw-2017 .col-md-12 {
    float: left;
  }
  body.belair-cw-2017 .col-md-1 {
    width: 8.33333%;
  }
  body.belair-cw-2017 .col-md-2 {
    width: 16.66667%;
  }
  body.belair-cw-2017 .col-md-3 {
    width: 25%;
  }
  body.belair-cw-2017 .col-md-4 {
    width: 33.33333%;
  }
  body.belair-cw-2017 .col-md-5 {
    width: 41.66667%;
  }
  body.belair-cw-2017 .col-md-6 {
    width: 50%;
  }
  body.belair-cw-2017 .col-md-7 {
    width: 58.33333%;
  }
  body.belair-cw-2017 .col-md-8 {
    width: 66.66667%;
  }
  body.belair-cw-2017 .col-md-9 {
    width: 75%;
  }
  body.belair-cw-2017 .col-md-10 {
    width: 83.33333%;
  }
  body.belair-cw-2017 .col-md-11 {
    width: 91.66667%;
  }
  body.belair-cw-2017 .col-md-12 {
    width: 100%;
  }
  body.belair-cw-2017 .col-md-pull-0 {
    right: auto;
  }
  body.belair-cw-2017 .col-md-pull-1 {
    right: 8.33333%;
  }
  body.belair-cw-2017 .col-md-pull-2 {
    right: 16.66667%;
  }
  body.belair-cw-2017 .col-md-pull-3 {
    right: 25%;
  }
  body.belair-cw-2017 .col-md-pull-4 {
    right: 33.33333%;
  }
  body.belair-cw-2017 .col-md-pull-5 {
    right: 41.66667%;
  }
  body.belair-cw-2017 .col-md-pull-6 {
    right: 50%;
  }
  body.belair-cw-2017 .col-md-pull-7 {
    right: 58.33333%;
  }
  body.belair-cw-2017 .col-md-pull-8 {
    right: 66.66667%;
  }
  body.belair-cw-2017 .col-md-pull-9 {
    right: 75%;
  }
  body.belair-cw-2017 .col-md-pull-10 {
    right: 83.33333%;
  }
  body.belair-cw-2017 .col-md-pull-11 {
    right: 91.66667%;
  }
  body.belair-cw-2017 .col-md-pull-12 {
    right: 100%;
  }
  body.belair-cw-2017 .col-md-push-0 {
    left: auto;
  }
  body.belair-cw-2017 .col-md-push-1 {
    left: 8.33333%;
  }
  body.belair-cw-2017 .col-md-push-2 {
    left: 16.66667%;
  }
  body.belair-cw-2017 .col-md-push-3 {
    left: 25%;
  }
  body.belair-cw-2017 .col-md-push-4 {
    left: 33.33333%;
  }
  body.belair-cw-2017 .col-md-push-5 {
    left: 41.66667%;
  }
  body.belair-cw-2017 .col-md-push-6 {
    left: 50%;
  }
  body.belair-cw-2017 .col-md-push-7 {
    left: 58.33333%;
  }
  body.belair-cw-2017 .col-md-push-8 {
    left: 66.66667%;
  }
  body.belair-cw-2017 .col-md-push-9 {
    left: 75%;
  }
  body.belair-cw-2017 .col-md-push-10 {
    left: 83.33333%;
  }
  body.belair-cw-2017 .col-md-push-11 {
    left: 91.66667%;
  }
  body.belair-cw-2017 .col-md-push-12 {
    left: 100%;
  }
  body.belair-cw-2017 .col-md-offset-0 {
    margin-left: 0%;
  }
  body.belair-cw-2017 .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  body.belair-cw-2017 .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  body.belair-cw-2017 .col-md-offset-3 {
    margin-left: 25%;
  }
  body.belair-cw-2017 .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  body.belair-cw-2017 .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  body.belair-cw-2017 .col-md-offset-6 {
    margin-left: 50%;
  }
  body.belair-cw-2017 .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  body.belair-cw-2017 .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  body.belair-cw-2017 .col-md-offset-9 {
    margin-left: 75%;
  }
  body.belair-cw-2017 .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  body.belair-cw-2017 .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  body.belair-cw-2017 .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1170px) {
  body.belair-cw-2017 .col-lg-1, body.belair-cw-2017 .col-lg-2, body.belair-cw-2017 .col-lg-3, body.belair-cw-2017 .col-lg-4, body.belair-cw-2017 .col-lg-5, body.belair-cw-2017 .col-lg-6, body.belair-cw-2017 .col-lg-7, body.belair-cw-2017 .col-lg-8, body.belair-cw-2017 .col-lg-9, body.belair-cw-2017 .col-lg-10, body.belair-cw-2017 .col-lg-11, body.belair-cw-2017 .col-lg-12 {
    float: left;
  }
  body.belair-cw-2017 .col-lg-1 {
    width: 8.33333%;
  }
  body.belair-cw-2017 .col-lg-2 {
    width: 16.66667%;
  }
  body.belair-cw-2017 .col-lg-3 {
    width: 25%;
  }
  body.belair-cw-2017 .col-lg-4 {
    width: 33.33333%;
  }
  body.belair-cw-2017 .col-lg-5 {
    width: 41.66667%;
  }
  body.belair-cw-2017 .col-lg-6 {
    width: 50%;
  }
  body.belair-cw-2017 .col-lg-7 {
    width: 58.33333%;
  }
  body.belair-cw-2017 .col-lg-8 {
    width: 66.66667%;
  }
  body.belair-cw-2017 .col-lg-9 {
    width: 75%;
  }
  body.belair-cw-2017 .col-lg-10 {
    width: 83.33333%;
  }
  body.belair-cw-2017 .col-lg-11 {
    width: 91.66667%;
  }
  body.belair-cw-2017 .col-lg-12 {
    width: 100%;
  }
  body.belair-cw-2017 .col-lg-pull-0 {
    right: auto;
  }
  body.belair-cw-2017 .col-lg-pull-1 {
    right: 8.33333%;
  }
  body.belair-cw-2017 .col-lg-pull-2 {
    right: 16.66667%;
  }
  body.belair-cw-2017 .col-lg-pull-3 {
    right: 25%;
  }
  body.belair-cw-2017 .col-lg-pull-4 {
    right: 33.33333%;
  }
  body.belair-cw-2017 .col-lg-pull-5 {
    right: 41.66667%;
  }
  body.belair-cw-2017 .col-lg-pull-6 {
    right: 50%;
  }
  body.belair-cw-2017 .col-lg-pull-7 {
    right: 58.33333%;
  }
  body.belair-cw-2017 .col-lg-pull-8 {
    right: 66.66667%;
  }
  body.belair-cw-2017 .col-lg-pull-9 {
    right: 75%;
  }
  body.belair-cw-2017 .col-lg-pull-10 {
    right: 83.33333%;
  }
  body.belair-cw-2017 .col-lg-pull-11 {
    right: 91.66667%;
  }
  body.belair-cw-2017 .col-lg-pull-12 {
    right: 100%;
  }
  body.belair-cw-2017 .col-lg-push-0 {
    left: auto;
  }
  body.belair-cw-2017 .col-lg-push-1 {
    left: 8.33333%;
  }
  body.belair-cw-2017 .col-lg-push-2 {
    left: 16.66667%;
  }
  body.belair-cw-2017 .col-lg-push-3 {
    left: 25%;
  }
  body.belair-cw-2017 .col-lg-push-4 {
    left: 33.33333%;
  }
  body.belair-cw-2017 .col-lg-push-5 {
    left: 41.66667%;
  }
  body.belair-cw-2017 .col-lg-push-6 {
    left: 50%;
  }
  body.belair-cw-2017 .col-lg-push-7 {
    left: 58.33333%;
  }
  body.belair-cw-2017 .col-lg-push-8 {
    left: 66.66667%;
  }
  body.belair-cw-2017 .col-lg-push-9 {
    left: 75%;
  }
  body.belair-cw-2017 .col-lg-push-10 {
    left: 83.33333%;
  }
  body.belair-cw-2017 .col-lg-push-11 {
    left: 91.66667%;
  }
  body.belair-cw-2017 .col-lg-push-12 {
    left: 100%;
  }
  body.belair-cw-2017 .col-lg-offset-0 {
    margin-left: 0%;
  }
  body.belair-cw-2017 .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  body.belair-cw-2017 .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  body.belair-cw-2017 .col-lg-offset-3 {
    margin-left: 25%;
  }
  body.belair-cw-2017 .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  body.belair-cw-2017 .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  body.belair-cw-2017 .col-lg-offset-6 {
    margin-left: 50%;
  }
  body.belair-cw-2017 .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  body.belair-cw-2017 .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  body.belair-cw-2017 .col-lg-offset-9 {
    margin-left: 75%;
  }
  body.belair-cw-2017 .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  body.belair-cw-2017 .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  body.belair-cw-2017 .col-lg-offset-12 {
    margin-left: 100%;
  }
}
body.belair-cw-2017 .headerPersistente.hp-noHome {
  top: 0;
  margin: 0;
}
body.belair-cw-2017 .transition, body.belair-cw-2017.home .shelfCarousel .bannerCategories .images img, body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div {
  transition-duration: .3s;
  transition-timing-function: ease;
}
body.belair-cw-2017 #mainContent {
  margin: 0 auto;
  background: url("bg_cybermonday.png") repeat scroll 0 0 #000;
}
body.belair-cw-2017 #mainContent .wrapper {
  background-color: #fff;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
body.belair-cw-2017 .shelfCarousel h2 {
  display: none;
}
body.belair-cw-2017 .prateleira .bt-aproveitar-shelf {
  color: #fff;
  display: block;
  font-size: 14px;
  max-width: 140px;
  line-height: 20px;
  margin: 10px auto;
  text-align: center;
  padding: 7px 7px 4px;
  background-color: #093B63;
  text-transform: uppercase;
}
body.belair-cw-2017 .prateleira li {
  margin: 0 4px;
  text-align: center;
  position: relative;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 55px !important;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .prev-arrow, body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .next-arrow {
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .prev-arrow svg, body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .next-arrow svg {
  fill: #114066;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .prev-arrow svg path, body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .next-arrow svg path {
  fill: #114066;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .next-arrow {
  right: 0;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .produto-cor {
  top: auto;
  left: auto;
  margin: 10px auto;
  position: inherit;
  text-align: center;
  white-space: nowrap;
  visibility: visible !important;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .produto-cor .quadrado {
  width: 38px;
  cursor: pointer;
  margin: 0 5px 0 0;
  max-width: initial;
  display: inline-block;
  visibility: visible !important;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .produto-cor .quadrado img {
  visibility: visible !important;
}
body.belair-cw-2017 .prateleira li .ProductSkuVariacoes .produto-cor .quadrado:last-of-type {
  margin-right: 0;
}
body.belair-cw-2017 .prateleira li .installment, body.belair-cw-2017 .prateleira li .bestPrice {
  width: 100%;
  display: block;
}
body.belair-cw-2017 .prateleira li .installment {
  color: #fe1f22;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
body.belair-cw-2017 .prateleira li .installment .valueInstallment {
  font-size: 21px;
}
body.belair-cw-2017 .prateleira li .bestPrice {
  color: #000;
  width: 100%;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
body.belair-cw-2017 .prateleira li .productName a {
  color: #000;
  height: 38px;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
body.belair-cw-2017 .prateleira li .productImage img {
  width: 100%;
  height: auto;
}
body.belair-cw-2017 .prateleira .slick-prev {
  left: -15px !important;
}
body.belair-cw-2017 .prateleira .slick-next {
  right: -15px !important;
}
body.belair-cw-2017 .shelfCarousel .slick-prev, body.belair-cw-2017 .shelfCarousel .slick-next {
  top: 50%;
  opacity: 1;
  width: 30px;
  color: #fff;
  height: 30px;
  border-radius: 0;
  background-color: #093B63;
}
body.belair-cw-2017 .shelfCarousel .slick-prev:before, body.belair-cw-2017 .shelfCarousel .slick-next:before {
  color: #fff;
}
body.belair-cw-2017 .shelfCarousel .slick-prev:hover, body.belair-cw-2017 .shelfCarousel .slick-next:hover {
  background-color: #093B63 !important;
}
body.belair-cw-2017 .shelfCarousel:hover .slick-next:before, body.belair-cw-2017 .shelfCarousel:hover .slick-prev:before {
  color: #fff;
  font-size: 14px;
}
body.belair-cw-2017 .shelfCarousel .flag {
  display: none;
}
body.belair-cw-2017.home #mainContent {
  padding: 160px 0 0;
}
body.belair-cw-2017.home #mainContent .wrapper {
  padding: 30px;
}
body.belair-cw-2017.home .bf-shelf-1 {
  margin-top: -90px;
}
body.belair-cw-2017.home .shelfCarousel {
  padding: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .images {
  min-height: 475px;
  position: relative;
  padding-right: 40px;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .images img {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .images img.active {
  opacity: 1;
  position: relative;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu {
  padding: 0;
  position: relative;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu nav {
  left: 0;
  top: 50%;
  z-index: 2;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu nav button {
  outline: 0;
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
  padding: 10px 18px;
  background: #095D89;
  border-top: 2px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 2px solid #fff;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu nav button.active, body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu nav button:hover {
  background: #093B63;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts {
  top: 50%;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  position: relative;
  display: -moz-flex;
  background: #095D89;
  display: -webkit-flex;
  transform: translateY(-50%);
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  padding: 45px;
  display: flex;
  color: #F0FF41;
  flex-wrap: wrap;
  min-height: 300px;
  position: absolute;
  text-align: center;
  pointer-events: none;
  justify-content: center;
  align-content: space-between;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div h3 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div span {
  width: 100%;
  color: #fff;
  padding: 25px 0;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div span small {
  width: 100%;
  font-size: smaller;
  display: inline-block;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div a {
  color: #F0FF41;
  font-size: 18px;
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid #F0FF41;
}
body.belair-cw-2017.home .shelfCarousel .bannerCategories .Menu .texts > div.active {
  opacity: 1;
  position: relative;
  pointer-events: all;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-3, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 {
  margin-top: 100px;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: initial;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1 .section-title, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3 .section-title, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 .section-title {
  display: flex;
  display: -o-flex;
  padding-top: 25px;
  display: -ms-flex;
  display: -moz-flex;
  position: relative;
  text-align: center;
  background: #EFFF40;
  align-items: center;
  display: -webkit-flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1 .section-title img, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3 .section-title img, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 .section-title img {
  top: 0;
  margin: 15px 0;
  max-width: 100%;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1 .section-title a, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3 .section-title a, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 .section-title a {
  clear: both;
  color: #093B63;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #093B63;
  text-decoration: underline;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1 .section-title a:after, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3 .section-title a:after, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 .section-title a:after {
  content: ' >';
  text-decoration: none;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-1 .prateleira, body.belair-cw-2017.home .shelfCarousel.bf-shelf-3 .prateleira, body.belair-cw-2017.home .shelfCarousel.bf-shelf-5 .prateleira {
  padding: 0 30px;
}
body.belair-cw-2017.home .shelfCarousel.bf-shelf-4 img {
  width: 100%;
  height: auto;
}
body.belair-cw-2017.home .shelfCarousel:last-of-type {
  margin-bottom: 0;
}
body.belair-cw-2017.product .footer {
  margin-top: 0;
}
body.belair-cw-2017.product .mainProductImage {
  width: 60%;
  margin-right: 0;
  padding-left: 20px;
}
body.belair-cw-2017.product .mainProductInfo {
  width: 40%;
}
body.belair-cw-2017.product .mainProductInfo .productName {
  font-size: 21px;
  font-weight: 600;
}
body.belair-cw-2017.product #mainContent {
  position: relative;
}
body.belair-cw-2017.product #mainContent .banner-produto {
  width: 100%;
  opacity: 1;
  display: block;
  padding: 15px 0;
  text-align: center;
}
body.belair-cw-2017.product #mainContent .banner-produto img {
  max-width: 100%;
}
body.belair-cw-2017.product #mainContent .wrapper {
  padding-top: 30px;
}
body.belair-cw-2017.product .mainProductImage #include {
  width: 500px;
  height: auto;
  overflow: hidden;
}
body.belair-cw-2017.product .mainProductImage #include:before {
  top: 25px;
  right: 25px;
  content: '';
  width: 75px;
  height: 75px;
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/arquivos/splash_CYBER.png");
}
body.belair-cw-2017.product #BuyTogether table tr {
  display: flex;
  flex-wrap: wrap;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center;
  display: -webkit-flex;
}
body.belair-cw-2017.product #BuyTogether table .plus:before, body.belair-cw-2017.product #BuyTogether table .equal:before {
  background-color: #fe0000;
}
body.belair-cw-2017.product .trustvoxContainer h3 {
  padding-left: 30px;
}
body.belair-cw-2017.product #BuyTogether {
  position: relative;
  margin: 60px 30px 30px;
  border-radius: 30px;
  padding: 0 30px 40px 30px;
  box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
}
body.belair-cw-2017.product #BuyTogether h4 {
  width: 100%;
  height: 50px;
  font-size: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}
body.belair-cw-2017.product #BuyTogether h4:before {
  top: 0;
  content: '';
  width: 400px;
  height: 77px;
  display: block;
  position: absolute;
  background-size: contain;
  transform: translateY(-40%);
  background-image: url("/arquivos/faixa_compre_junto.png");
  background-repeat: no-repeat;
}
body.belair-cw-2017.product #BuyTogether table .itemA .best-price, body.belair-cw-2017.product #BuyTogether table .itemB .best-price {
  color: #ff0202;
  font-weight: bold;
}
body.belair-cw-2017.product #BuyTogether select {
  cursor: pointer;
  background: #fff;
}
body.belair-cw-2017.product #BuyTogether table .itemA, body.belair-cw-2017.product #BuyTogether table .itemB {
  width: 29%;
}
body.belair-cw-2017.product #BuyTogether table .buy {
  width: 29%;
}
body.belair-cw-2017.product #BuyTogether table .buy p {
  margin: 0;
  padding: 10px 0;
}
body.belair-cw-2017.product #BuyTogether table .buy p.parcela {
  font-size: 17px;
  font-style: normal;
}
body.belair-cw-2017.product #BuyTogether table .buy p.total {
  font-size: 24px;
}
body.belair-cw-2017.product #BuyTogether table .buy p.total strong {
  font-size: 36px;
}
body.belair-cw-2017.product #BuyTogether table .buy p #lnkComprar {
  margin: 0 auto;
  max-width: 200px;
}
body.belair-cw-2017.product #BuyTogether table .buy p strong {
  display: inline-block;
}
body.belair-cw-2017.product .mainProduct {
  padding: 40px 30px;
  margin: 0 30px 30px;
  border-radius: 30px;
  -webkit-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
}
body.belair-cw-2017.product .productDetails {
  margin: 0 30px 30px;
}
body.belair-cw-2017.product .productDetails .tab-sobre {
  background-color: #ececee !important;
}
body.belair-cw-2017.product .productDetails .tab-sobre.active {
  background-color: #fff !important;
}
body.belair-cw-2017.product .productDetails div {
  color: #403f44;
  font-size: 15px;
  line-height: 25px;
}
body.belair-cw-2017.product .rating-click-here {
  color: #ff0202;
}
body.belair-cw-2017.product .price-installments {
  color: #ff0202;
}
body.belair-cw-2017.product .price-installments:after {
  color: #000;
}
body.belair-cw-2017.product .buyProduct {
  margin-bottom: 20px;
}
body.belair-cw-2017.product .buyProduct .productName {
  display: none;
  padding-bottom: 15px;
}
body.belair-cw-2017.product .buyProduct:not(.compra-persistente) .buyProductButton {
  display: flex;
  flex-wrap: wrap;
  display: -o-flex;
  display: -ms-flex;
  padding-bottom: 0;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
}
body.belair-cw-2017.product .buyProduct:not(.compra-persistente) .buyProductButton .prodQtd, body.belair-cw-2017.product .buyProduct:not(.compra-persistente) .buyProductButton .buy-button {
  margin: 0;
  display: inline-block;
}
body.belair-cw-2017.product .buyProduct.compra-persistente {
  max-width: 400px;
}
body.belair-cw-2017.product .buyProduct.compra-persistente .productName {
  display: block;
}
body.belair-cw-2017.product .buyProduct.compra-persistente .close-button-compra-persistente {
  top: 0;
  left: 0;
  margin: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
}
body.belair-cw-2017.product .buyProduct .prodQtd .addItem, body.belair-cw-2017.product .buyProduct .prodQtd .removeItem {
  color: #fff;
  background-color: #000;
}
body.belair-cw-2017.product .chooseProduct {
  border-top: 1px dashed #ff0202;
  border-bottom: 1px dashed #ff0202;
}
body.belair-cw-2017.product .productDetails {
  color: #403f44;
}
body.belair-cw-2017.product .productDetails ul.tabs {
  transform: translateY(1px);
}
body.belair-cw-2017.product .productDetails ul.tabs li {
  color: #403f44;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 5px;
  padding: 15px 30px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  background-color: #EBEBED;
  border: 1px solid #EBEBED;
  border-bottom: 0;
  text-transform: uppercase;
}
body.belair-cw-2017.product .productDetails ul.tabs li:hover, body.belair-cw-2017.product .productDetails ul.tabs li.active {
  background-color: #fff;
}
body.belair-cw-2017.product .tab-pgto, body.belair-cw-2017.product .tab-sobre, body.belair-cw-2017.product .tab-frete {
  color: #403f44;
  padding: 30px;
  display: none;
}
body.belair-cw-2017.product .tab-pgto.active, body.belair-cw-2017.product .tab-sobre.active {
  display: block;
}
body.belair-cw-2017.product .content-details {
  border: 1px solid #EBEBED;
}
body.belair-cw-2017.product .content-details .tab-sobre, body.belair-cw-2017.product .content-details .tab-pgto, body.belair-cw-2017.product .content-details .tab-frete {
  background-color: #fff !important;
}
body.belair-cw-2017.product .tab-frete.active {
  display: block;
}
body.belair-cw-2017.product .tab-frete .prefixo {
  font-size: 0;
}
body.belair-cw-2017.product .tab-frete .header, body.belair-cw-2017.product .tab-frete .footer {
  display: none !important;
}
body.belair-cw-2017.product .tab-frete .quantity {
  display: none !important;
}
body.belair-cw-2017.product .tab-frete .shipping-value {
  display: none !important;
}
body.belair-cw-2017.product .tab-frete input {
  border: 1px solid #ccc;
  padding: 10px;
}
body.belair-cw-2017.product .tab-frete .cep-busca {
  display: block;
  margin-top: 5px;
}
body.belair-cw-2017.product .tab-frete .cep-busca a {
  color: #00536e;
}
body.belair-cw-2017.product .tab-frete .freight-btn {
  background: #00536e;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 15px;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.4);
  font-size: .9375rem;
  font-family: "Proxima Nova", sans-serif;
  border: none;
}
body.belair-cw-2017.product .tab-frete .freight-values {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 0.8125rem;
}
body.belair-cw-2017.product .tab-frete .freight-values thead tr th:first-child, body.belair-cw-2017.product .tab-frete .freight-values thead tr td:first-child {
  display: none;
}
body.belair-cw-2017.product .tab-frete .freight-values tbody tr th:first-child, body.belair-cw-2017.product .tab-frete .freight-values tbody tr td:first-child {
  display: none;
}
body.belair-cw-2017.product .tab-frete .freight-values th {
  text-align: left;
  color: #00536e;
  font-weight: 700;
  padding: 5px 0;
}
body.belair-cw-2017.product .tab-frete .freight-values td {
  padding: 5px 0;
}
body.belair-cw-2017.product .flag-bf {
  border: 0;
  color: #fff;
  width: auto;
  margin: 5px 0;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  background: #FE000C;
  align-items: center;
  display: -o-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
}
body.belair-cw-2017.product .flag-bf:after {
  top: 0;
  width: 0;
  bottom: 0;
  height: 0;
  left: 100%;
  content: "";
  position: absolute;
  border-top: 16px solid #FE000C;
  border-bottom: 16px solid #FE000C;
  border-right: 20px solid transparent;
}
body.belair-cw-2017.product .flag-bf.info.montagem {
  color: #000;
  padding: 8px 10px;
  background: #E5F73E;
}
body.belair-cw-2017.product .flag-bf.info.montagem p {
  width: 90%;
  float: left;
  color: inherit;
  font-size: inherit;
  padding-left: 10px;
  display: inline-block;
  box-sizing: border-box;
}
body.belair-cw-2017.product .flag-bf.info.montagem small {
  display: block;
  font-size: smaller;
}
body.belair-cw-2017.product .flag-bf.info.montagem:before {
  width: 10%;
  float: left;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
}
body.belair-cw-2017.product .flag-bf.info.montagem:after {
  border-top: 26px solid #E5F73E;
  border-bottom: 26px solid #E5F73E;
  border-right: 20px solid transparent;
}
body.belair-cw-2017.product .productSpec {
  font-size: 15px;
}
body.belair-cw-2017.product .productSpec p {
  font-size: inherit;
}
body.belair-cw-2017.product .productSpec table th, body.belair-cw-2017.product .productSpec table td {
  padding: 0;
  color: #646464;
}
body.belair-cw-2017.product .productSpec table th {
  display: flex;
  min-width: 150px;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center;
  display: -webkit-flex;
}
body.belair-cw-2017.product .productSpec table th:after {
  flex: 1;
  content: '';
  height: 1px;
  margin: 0 10px;
  background: #646464;
}
body.belair-cw-2017.institutional {
  background: url(/arquivos/granulado-2.png?v=636447121487400000) repeat scroll 0 0 #000;
}
body.belair-cw-2017.institutional #mainMenu {
  width: 100%;
  height: 37px;
  background: #fff;
  max-width: initial;
  text-align: center;
}
body.belair-cw-2017.institutional #mainMenu > .pageNav {
  display: inline-block;
  width: 1040px;
}
body.belair-cw-2017.institutional #mainContent .wrapper {
  padding: 30px;
  margin: 50px auto 0;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section {
  position: relative;
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 30px 40px 30px;
  box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 33px -8px rgba(0, 0, 0, 0.75);
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .flag {
  display: none;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .section-title {
  display: flex;
  display: -o-flex;
  padding-top: 50px;
  display: -ms-flex;
  display: -moz-flex;
  position: relative;
  text-align: center;
  background: #EFFF40;
  align-items: center;
  display: -webkit-flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .section-title img {
  top: 0;
  margin: 15px 0;
  max-width: 100%;
  position: absolute;
  transform: translateY(-70%);
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .section-title a {
  clear: both;
  color: #FF000E;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #FF000E;
  text-decoration: underline;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .section-title a:after {
  content: ' >';
  text-decoration: none;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .prateleira {
  padding: 0 30px;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .prateleira ul {
  width: auto !important;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .prateleira .productInfo {
  background: none;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .prateleira .ProductSkuVariacoes {
  margin-top: 0;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .prateleira .productInfo {
  margin-top: 0;
}
body.belair-cw-2017.institutional #mainContent .wrapper > section.shelfCarousel .shelfOverlay {
  display: none !important;
}
body.belair-cw-2017.institutional .footer {
  margin-top: 0;
}
