@charset "utf-8";

.sr_amarelo-pastel:before{background: url('/arquivos/amarelo-pastel.jpg') no-repeat;}
.sr_amarelo:before{background: url('/arquivos/amarelo.jpg') no-repeat;}
.sr_amendoa-castanho:before{background: url('/arquivos/amendoa-castanho.jpg') no-repeat;}
.sr_areia:before{background: url('/arquivos/areia.jpg') no-repeat;}
.sr_azul-claro:before{background: url('/arquivos/azul-claro.jpg') no-repeat;}
.sr_azul-marinho:before{background: url('/arquivos/azul-marinho.jpg') no-repeat;}
.sr_azul-petroleo:before{background: url('/arquivos/azul-petroleo.jpg') no-repeat;}
.sr_azul:before{background: url('/arquivos/azul.jpg') no-repeat;}
.sr_bege-escuro:before{background: url('/arquivos/bege-escuro.jpg') no-repeat;}
.sr_bege:before{background: url('/arquivos/bege.jpg') no-repeat;}
.sr_branco-aspen:before{background: url('/arquivos/branco-aspen.jpg') no-repeat;}
.sr_branco-brilho:before{background: url('/arquivos/branco-brilho.jpg') no-repeat;}
.sr_branco-ebano:before{background: url('/arquivos/branco-ebano.jpg') no-repeat;}
.sr_branco-laca:before{background: url('/arquivos/branco-laca.jpg') no-repeat;}
.sr_branco-linho:before{background: url('/arquivos/branco-linho.jpg') no-repeat;}
.sr_branco-preto-brilho:before{background: url('/arquivos/branco-preto-brilho.jpg') no-repeat;}
.sr_branco-turquesa:before{background: url('/arquivos/branco-turquesa.jpg') no-repeat;}
.sr_branco:before{background: url('/arquivos/branco.jpg') no-repeat;}
.sr_cadiz:before{background: url('/arquivos/cadiz.jpg') no-repeat;}
.sr_camurca-conhaque:before{background: url('/arquivos/camurca-conhaque.jpg') no-repeat;}
.sr_canyon:before{background: url('/arquivos/canyon.jpg') no-repeat;}
.sr_cappucino-ebano:before{background: url('/arquivos/cappucino-ebano.jpg') no-repeat;}
.sr_castanho-escuro:before{background: url('/arquivos/castanho-escuro.jpg') no-repeat;}
.sr_castanho:before{background: url('/arquivos/castanho.jpg') no-repeat;}
.sr_castor:before{background: url('/arquivos/castor.jpg') no-repeat;}
.sr_champagne-branco:before{background: url('/arquivos/champagne-branco.jpg') no-repeat;}
.sr_champagne:before{background: url('/arquivos/champagne.jpg') no-repeat;}
.sr_chenille-bege:before{background: url('/arquivos/chenille-bege.jpg') no-repeat;}
.sr_chenille-floral-colorido:before{background: url('/arquivos/chenille-floral-colorido.jpg') no-repeat;}
.sr_chenille-marrom:before{background: url('/arquivos/chenille-marrom.jpg') no-repeat;}
.sr_chocolate-wood:before{background: url('/arquivos/chocolate-wood.jpg') no-repeat;}
.sr_colorido:before{background: url('/arquivos/colorido.jpg') no-repeat;}
.sr_cromado:before{background: url('/arquivos/cromado.jpg') no-repeat;}
.sr_cru:before{background: url('/arquivos/cru.jpg') no-repeat;}
.sr_dourado:before{background: url('/arquivos/dourado.jpg') no-repeat;}
.sr_ebano-linho:before{background: url('/arquivos/ebano-linho.jpg') no-repeat;}
.sr_ebano-texturizado:before{background: url('/arquivos/ebano-texturizado.jpg') no-repeat;}
.sr_espelhada:before{background: url('/arquivos/espelhada.jpg') no-repeat;}
.sr_imbuia-touch:before{background: url('/arquivos/imbuia-touch.jpg') no-repeat;}
.sr_imbuia:before{background: url('/arquivos/imbuia.jpg') no-repeat;}
.sr_jacquard-fest-rose:before{background: url('/arquivos/jacquard-fest-rose.jpg') no-repeat;}
.sr_lanarca:before{background: url('/arquivos/lanarca.jpg') no-repeat;}
.sr_laranja-pastel:before{background: url('/arquivos/laranja-pastel.jpg') no-repeat;}
.sr_laranja:before{background: url('/arquivos/laranja.jpg') no-repeat;}
.sr_madeira:before{background: url('/arquivos/madeira.jpg') no-repeat;}
.sr_madeira:before{background: url('/arquivos/madeira.jpg') no-repeat;}
.sr_marrom-claro:before{background: url('/arquivos/marrom-claro.jpg') no-repeat;}
.sr_marrom-escuro:before{background: url('/arquivos/marrom-escuro.jpg') no-repeat;}
.sr_marrom:before{background: url('/arquivos/marrom.jpg') no-repeat;}
.sr_napa-branco:before{background: url('/arquivos/napa-branco.jpg') no-repeat;}
.sr_napa-jeans:before{background: url('/arquivos/napa-jeans.jpg') no-repeat;}
.sr_nevada-ebano-nevada:before{background: url('/arquivos/nevada-ebano-nevada.jpg') no-repeat;}
.sr_nevada-ebano:before{background: url('/arquivos/nevada-ebano.jpg') no-repeat;}
.sr_new-castanho:before{background: url('/arquivos/new-castanho.jpg') no-repeat;}
.sr_nobre-fosco:before{background: url('/arquivos/nobre-fosco.jpg') no-repeat;}
.sr_nobre-preto-brilho:before{background: url('/arquivos/nobre-preto-brilho.jpg') no-repeat;}
.sr_nobuck-azul:before{background: url('/arquivos/nobuck-azul.jpg') no-repeat;}
.sr_preto-branco-preto:before{background: url('/arquivos/preto-branco-preto.jpg') no-repeat;}
.sr_preto-brilho:before{background: url('/arquivos/preto-brilho.jpg') no-repeat;}
.sr_preto:before{background: url('/arquivos/preto.jpg') no-repeat;}
.sr_pu-marrom:before{background: url('/arquivos/pu-marrom.jpg') no-repeat;}
.sr_pu-preto:before{background: url('/arquivos/pu-preto.jpg') no-repeat;}
.sr_richmond-birigui:before{background: url('/arquivos/richmond-birigui.jpg') no-repeat;}
.sr_richmond-madri-espanha:before{background: url('/arquivos/richmond-madri-espanha.jpg') no-repeat;}
.sr_rijo:before{background: url('/arquivos/rijo.jpg') no-repeat;}
.sr_roble-amarelo:before{background: url('/arquivos/roble-amarelo.jpg') no-repeat;}
.sr_roble-azul:before{background: url('/arquivos/roble-azul.jpg') no-repeat;}
.sr_roble-cafe:before{background: url('/arquivos/roble-cafe.jpg') no-repeat;}
.sr_rosa:before{background: url('/arquivos/rosa.jpg') no-repeat;}
.sr_rose:before{background: url('/arquivos/rose.jpg') no-repeat;}
.sr_roxo:before{background: url('/arquivos/roxo.jpg') no-repeat;}
.sr_rustico-fosco-preto-brilho:before{background: url('/arquivos/rustico-fosco-preto-brilho.jpg') no-repeat;}
.sr_rustico-fosco:before{background: url('/arquivos/rustico-fosco.jpg') no-repeat;}
.sr_softh-rose:before{background: url('/arquivos/softh-rose.jpg') no-repeat;}
.sr_sued-amassado-castor:before{background: url('/arquivos/sued-amassado-castor.jpg') no-repeat;}
.sr_sued-amassado-chocolate:before{background: url('/arquivos/sued-amassado-chocolate.jpg') no-repeat;}
.sr_sued-areia:before{background: url('/arquivos/sued-areia.jpg') no-repeat;}
.sr_sued-arvoredo-azul:before{background: url('/arquivos/sued-arvoredo-azul.jpg') no-repeat;}
.sr_sued-bege-escuro:before{background: url('/arquivos/sued-bege-escuro.jpg') no-repeat;}
.sr_sued-bege:before{background: url('/arquivos/sued-bege.jpg') no-repeat;}
.sr_sued-cafe:before{background: url('/arquivos/sued-cafe.jpg') no-repeat;}
.sr_sued-chocolate:before{background: url('/arquivos/sued-chocolate.jpg') no-repeat;}
.sr_sued-cinza-chumbo:before{background: url('/arquivos/sued-cinza-chumbo.jpg') no-repeat;}
.sr_sued-creme:before{background: url('/arquivos/sued-creme.jpg') no-repeat;}
.sr_sued-dublado:before{background: url('/arquivos/sued-dublado.jpg') no-repeat;}
.sr_sued-floral:before{background: url('/arquivos/sued-floral.jpg') no-repeat;}
.sr_sued-lavrado-azul-floral:before{background: url('/arquivos/sued-lavrado-azul-floral.jpg') no-repeat;}
.sr_sued-marrom-escuro:before{background: url('/arquivos/sued-marrom-escuro.jpg') no-repeat;}
.sr_sued-mojave:before{background: url('/arquivos/sued-mojave.jpg') no-repeat;}
.sr_sued-patchwork-floral:before{background: url('/arquivos/sued-patchwork-floral.jpg') no-repeat;}
.sr_sued-patchwork-quadrado:before{background: url('/arquivos/sued-patchwork-quadrado.jpg') no-repeat;}
.sr_sued-preto:before{background: url('/arquivos/sued-preto.jpg') no-repeat;}
.sr_sued-velvet-cinza-claro:before{background: url('/arquivos/sued-velvet-cinza-claro.jpg') no-repeat;}
.sr_sued-velvet-marrom-claro:before{background: url('/arquivos/sued-velvet-marrom-claro.jpg') no-repeat;}
.sr_sued-velvet-vermelho:before{background: url('/arquivos/sued-velvet-vermelho.jpg') no-repeat;}
.sr_sued-verde-musgo:before{background: url('/arquivos/sued-verde-musgo.jpg') no-repeat;}
.sr_super-sued-chocolate:before{background: url('/arquivos/super-sued-chocolate.jpg') no-repeat;}
.sr_tabaco:before{background: url('/arquivos/tabaco.jpg') no-repeat;}
.sr_terracota-demolicao:before{background: url('/arquivos/terracota-demolicao.jpg') no-repeat;}
.sr_textec-azul:before{background: url('/arquivos/textec-azul.jpg') no-repeat;}
.sr_turquesa:before{background: url('/arquivos/turquesa.jpg') no-repeat;}
.sr_veludo-marrom:before{background: url('/arquivos/veludo-marrom.jpg') no-repeat;}
.sr_velut-vermelho:before{background: url('/arquivos/velut-vermelho.jpg') no-repeat;}
.sr_verde-agua:before{background: url('/arquivos/verde-agua.jpg') no-repeat;}
.sr_verde-claro:before{background: url('/arquivos/verde-claro.jpg') no-repeat;}
.sr_verde-escuro:before{background: url('/arquivos/verde-escuro.jpg') no-repeat;}
.sr_verde-musgo:before{background: url('/arquivos/verde-musgo.jpg') no-repeat;}
.sr_verde:before{background: url('/arquivos/verde.jpg') no-repeat;}
.sr_vermelho:before{background: url('/arquivos/vermelho.jpg') no-repeat;}
.sr_vinho:before{background: url('/arquivos/vinho.jpg') no-repeat;}
.sr_ype-amarelo-demolicao:before{background: url('/arquivos/ype-amarelo-demolicao.jpg') no-repeat;}
.sr_ype-amarelo-tabaco:before{background: url('/arquivos/ype-amarelo-tabaco.jpg') no-repeat;}
.sr_ype-ebano-ype:before{background: url('/arquivos/ype-ebano-ype.jpg') no-repeat;}
.sr_ype-ebano:before{background: url('/arquivos/ype-ebano.jpg') no-repeat;}
.sr_ype:before{background: url('/arquivos/ype.jpg') no-repeat;}
.sr_velo-naturale-cafe:before{background: url('/arquivos/velo-naturale-cafe.jpg') no-repeat;}
.sr_nobuck-amarelo:before{background: url('/arquivos/nobuck-amarelo.jpg') no-repeat;}
.sr_nobuck-celeste:before{background: url('/arquivos/nobuck-celeste.jpg') no-repeat;}
.sr_nobuck-roxo:before{background: url('/arquivos/nobuck-roxo.jpg') no-repeat;}
.sr_nobre-branco:before{background: url('/arquivos/nobre-branco.jpg') no-repeat;}
.sr_imbuia-mel:before{background: url('/arquivos/imbuia-mel.jpg') no-repeat;}
.sr_cancun-38:before{background: url('/arquivos/cancun-38.jpg') no-repeat;}
.sr_patckwork-quadrado-2:before{background: url('/arquivos/patchwork-quadrado-2.jpg') no-repeat;}
.sr_postale-cinza:before{background: url('/arquivos/postale-cinza.jpg') no-repeat;}
.sr_cinza:before{background: url('/arquivos/cinza.jpg') no-repeat;}
.sr_dallas-grafite:before{background: url('/arquivos/dallas-grafite.jpg') no-repeat;}
.sr_amendoa:before{background: url('/arquivos/amendoa.jpg') no-repeat;}
.sr_linho-diamond-02:before{background: url('/arquivos/linho-diamond-02.jpg') no-repeat;}
.sr_veludo-gold-liso-01:before{background: url('/arquivos/veludo-gold-liso-01.jpg') no-repeat;}
.sr_veludo-amassado-suecia-20:before{background: url('/arquivos/veludo-amassado-suecia-20.jpg') no-repeat;}
.sr_c-3001:before{background: url('/arquivos/c-3001.jpg') no-repeat;}
.sr_sued-amassado-areia:before{background: url('/arquivos/sued-amassado-areia.jpg') no-repeat;}
.sr_demolicao-laca-off-white:before{background: url('/arquivos/demolicao-laca-off-white.jpg') no-repeat;}
.sr_fontane-flecha:before{background: url('/arquivos/fontane-flecha.jpg') no-repeat;}
.sr_richmond-maresias:before{background: url('/arquivos/richmond-maresias.jpg') no-repeat;}
.sr_soft-marfim:before{background: url('/arquivos/soft-marfim.jpg') no-repeat;}
.sr_sued-velvet-azul:before{background: url('/arquivos/sued-velvet-azul.jpg') no-repeat;}
.sr_sued-bianco:before{background: url('/arquivos/sued-bianco.jpg') no-repeat;}
.sr_sued-cappuccino:before{background: url('/arquivos/sued-cappuccino.jpg') no-repeat;}
.sr_jacquard-carvalho-ebano:before{background: url('/arquivos/jacquard-carvalho-ebano.jpg') no-repeat;}
.sr_richmond-parana:before{background: url('/arquivos/richmond-parana.jpg') no-repeat;}
.sr_new-castanho-preto:before{background: url('/arquivos/new-castanho-preto.jpg') no-repeat;}
.sr_charmant:before{background: url('/arquivos/charmant.jpg') no-repeat;}
.sr_amendoa:before{background: url('/arquivos/amendoa.jpg') no-repeat;}
.sr_branco-mel:before{background: url('/arquivos/branco-mel.jpg') no-repeat;}
.sr_patchwork-floral-2:before{background: url('/arquivos/patchwork-floral-2.jpg') no-repeat;}
.sr_fibra-sintetica:before{background: url('/arquivos/fibra-sintetica.jpg') no-repeat;}
.sr_patina:before{background: url('/arquivos/patina.jpg') no-repeat;}
.sr_castor:before{background: url('/arquivos/castor.jpg') no-repeat;}
.sr_50037:before{background: url('/arquivos/50037.jpg') no-repeat;}
.sr_capuccino:before{background: url('/arquivos/capuccino.jpg') no-repeat;}
.sr_fendi:before{background: url('/arquivos/fendi.jpg') no-repeat;}
.sr_casal:before{background: url('/arquivos/casal.jpg') no-repeat;}
.sr_solteiro:before{background: url('/arquivos/solteiro.jpg') no-repeat;}
.sr_queen-size:before{background: url('/arquivos/queen-size.jpg') no-repeat;}
.sr_animale-azul:before{background: url('/arquivos/animale-azul.jpg') no-repeat;}
.sr_sued-azul:before{background: url('/arquivos/sued-azul.jpg') no-repeat;}
.sr_velut-castor:before{background: url('/arquivos/velut-castor.jpg') no-repeat;}
.sr_animale-capuccino:before{background: url('/arquivos/animale-capuccino.jpg') no-repeat;}
.sr_rustico:before{background: url('/arquivos/rustico.jpg') no-repeat;}
.sr_softh-camurca:before{background: url('/arquivos/softh-camurca.jpg') no-repeat;}
.sr_nobuck-prata:before{background: url('/arquivos/nobuck-prata.jpg') no-repeat;}
.sr_nobre-fendi:before{background: url('/arquivos/nobre-fendi.jpg') no-repeat;}
.sr_veludo-cinza:before{background: url('/arquivos/veludo-cinza.jpg') no-repeat;}
.sr_veludo-creme:before{background: url('/arquivos/veludo-creme.jpg') no-repeat;}
.sr_veludo-marrom-2:before{background: url('/arquivos/veludo-marrom-2.jpg') no-repeat;}
.sr_animale-marrom:before{background: url('/arquivos/animale-marrom.jpg') no-repeat;}
.sr_animale-bege:before{background: url('/arquivos/animale-bege.jpg') no-repeat;}
.sr_floral-primavera:before{background: url('/arquivos/floral-primavera.jpg') no-repeat;}
.sr_floral-vinho:before{background: url('/arquivos/floral-vinho.jpg') no-repeat;}
.sr_imperial-azul-a:before{background: url('/arquivos/imperial-azul-a.jpg') no-repeat;}
.sr_imperial-azul-b:before{background: url('/arquivos/imperial-azul-b.jpg') no-repeat;}
.sr_matelasse:before{background: url('/arquivos/matelasse.jpg') no-repeat;}
.sr_imperial-preto:before{background: url('/arquivos/imperial-preto.jpg') no-repeat;}
.sr_poa-creme:before{background: url('/arquivos/poa-creme.jpg') no-repeat;}
.sr_sued-amassado-preto:before{background: url('/arquivos/sued-amassado-preto.jpg') no-repeat;}
.sr_compose-turquesa:before{background: url('/arquivos/compose-turquesa.jpg') no-repeat;}
.sr_sued-medalhao:before{background: url('/arquivos/sued-medalhao.jpg') no-repeat;}
.sr_madero:before{background: url('/arquivos/madero.jpg') no-repeat;}
.sr_rustico-malbec:before{background: url('/arquivos/rustico-malbec.jpg') no-repeat;}
.sr_bali-estampado:before{background: url('/arquivos/bali-estampado.jpg') no-repeat;}
.sr_sued-pena-azul:before{background: url('/arquivos/sued-pena-azul.jpg') no-repeat;}
.sr_sued-elefante-marrom:before{background: url('/arquivos/sued-elefante-marrom.jpg') no-repeat;}
.sr_c3472:before{background: url('/arquivos/c3472.jpg') no-repeat;}
.sr_castor-turquesa:before{background: url('/arquivos/castor-turquesa.jpg') no-repeat;}
.sr_castor-animale-chocolate:before{background: url('/arquivos/castor-animale-chocolate.jpg') no-repeat;}
.sr_branco-animale-azul:before{background: url('/arquivos/branco-animale-azul.jpg') no-repeat;}
.sr_branco-amendoa-animale-azul:before{background: url('/arquivos/branco-amendoa-animale-azul.jpg') no-repeat;}
.sr_capuccino-escuro:before{background: url('/arquivos/capuccino-escuro.jpg') no-repeat;}
.sr_branco-laca-cafe:before{background: url('/arquivos/branco-laca-cafe.jpg') no-repeat;}
.sr_naturalle:before{background: url('/arquivos/naturalle.jpg') no-repeat;}
.sr_roble-imperial:before{background: url('/arquivos/roble-imperial.jpg') no-repeat;}
.sr_sued-amassado-bege:before{background: url('/arquivos/sued-amassado-bege.jpg') no-repeat;}
.sr_sued-brilho-prata:before{background: url('/arquivos/sued-brilho-prata.jpg') no-repeat;}
.sr_animale-capuccino-2:before{background: url('/arquivos/animale-capuccino-2.jpg') no-repeat;}
.sr_animale-azul-2:before{background: url('/arquivos/animale-azul-2.jpg') no-repeat;}
.sr_rovere-soft:before{background: url('/arquivos/rovere-soft.jpg') no-repeat;}
.sr_imbuia-soft:before{background: url('/arquivos/imbuia-soft.jpg') no-repeat;}
.sr_carvalho-soft:before{background: url('/arquivos/carvalho-soft.jpg') no-repeat;}
.sr_florido-azul:before{background: url('/arquivos/florido-azul.jpg') no-repeat;}
.sr_florido-amarelo:before{background: url('/arquivos/florido-amarelo.jpg') no-repeat;}
.sr_malaga:before{background: url('/arquivos/malaga.jpg') no-repeat;}
.sr_mel:before{background: url('/arquivos/mel.jpg') no-repeat;}
.sr_imbuia2:before{background: url('/arquivos/imbuia2.jpg') no-repeat;}
